In [8]:
import pandas as pd
from pycaret.classification import *

In [2]:
df = pd.read_csv('./heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [5]:
clf = setup(data=df, target='target', session_id=111, remove_outliers=True, multicollinearity_threshold=1.5)
best_model = compare_models()

In [6]:
clf.data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
608,64,1,0,145,212,0,0,132,0,2.0,1,2,1,0
522,67,0,2,152,277,0,1,172,0,0.0,2,1,2,1
143,34,1,3,118,182,0,0,174,0,0.0,2,0,2,1
185,57,1,0,165,289,1,0,124,0,1.0,1,3,3,0
485,62,1,1,120,281,0,0,103,0,1.4,1,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
917,47,1,2,130,253,0,1,179,0,0.0,2,0,2,1
919,38,1,3,120,231,0,1,182,1,3.8,1,0,3,0
457,39,0,2,138,220,0,1,152,0,0.0,1,0,2,1
348,43,1,0,132,247,1,0,143,1,0.1,1,4,3,0

In [9]:
lr = create_model('lr', fold=15, return_train_score=True)