In [1]:
import pandas as pd
from pycaret.regression import *

In [2]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

In [3]:
rgn = setup(train, target="SalePrice", ignore_features=["ID"])
best_model = compare_models(sort='RMSE')

In [4]:
# save_model(best_model, model_name='rgn_model_ab90')

In [6]:
final_model = finalize_model(best_model)

In [7]:
test_predictions = predict_model(final_model, data=test)
submission = test_predictions[['Id', 'prediction_label']]
submission.columns = ['Id', 'SalePrice']
submission.to_csv('submission_4.csv', index=False)

In [11]:
tuned_model = tune_model(best_model,search_library='optuna' ,optimize='RMSE', choose_better=True)

/Users/achbj/opt/miniconda3/envs/nn/lib/python3.10/site-packages/optuna/samplers/_tpe/sampler.py:278: ExperimentalWarning: ``multivariate`` option is an experimental feature. The interface can change in the future.
  warnings.warn(
/Users/achbj/opt/miniconda3/envs/nn/lib/python3.10/site-packages/optuna/samplers/_tpe/sampler.py:297: ExperimentalWarning: ``constant_liar`` option is an experimental feature. The interface can change in the future.
  warnings.warn(
/Users/achbj/opt/miniconda3/envs/nn/lib/python3.10/site-packages/pycaret/internal/pycaret_experiment/supervised_experiment.py:2451: ExperimentalWarning: OptunaSearchCV is experimental (supported from v0.17.0). The interface can change in the future.
  model_grid = optuna.integration.OptunaSearchCV(  # type: ignore
[I 2024-04-11 15:03:49,759] Searching the best hyperparameters using 1021 samples...
[I 2024-04-11 15:04:39,935] Finished hyperparemeter search!

Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [7]:
cbr = create_model('catboost', verbose=False)

In [16]:
tuned_cbr = tune_model(cbr, optimize='RMSE', n_iter=500)

Fitting 10 folds for each of 500 candidates, totalling 5000 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).